# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
venv/
FYP_env/
.env/

# ===============================
# PyTorch / ML Artifacts
# ===============================
*.pt
*.pth
*.ckpt

# ===============================
# Logs & Outputs
# ===============================
logs/
results/
*.log

# ===============================
# Dataset
# ===============================
data/
!src/data/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
